<li>
<span class="post-meta">
<span class="info-title"><i class="icon-calendar"></i> Published: </span>
{{ post.date | date: "%b %-d, %Y" }}
{% if (post.category and post.category != empty) or post.tags != empty %}
  {% include category_links.html category=post.category tags=post.tags %}
{% endif %}
{% if post.external-url %}
  • <a href="{{ post.url | relative_url }}">Permalink</a>
{% endif %}
</span>
<h2>
{% if post.external-url %}
  <a class="post-link" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
{% else %}
  <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}</a>
{% endif %}
</h2>
</li>
