---
layout: default
---
<div class="home">

  <h1 class="page-heading">Blog Archive</h1>

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in site.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}
      {% include post_meta.html post=post %}
    {% endfor %}
  </ul>

</div>
