---
layout: default
---

<div class="home">
  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}
  {% if page.tag and page.tag != "" %}
    <h1 class="page-heading">Archive of Tag '{{ page.tag | escape }}'</h1>
    {% if !site.tags or site.tags == "" %}
      {% assign rawtags = "" %}
      {% for post in site.posts %}
        {% assign ttags = post.tags | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
      {% endfor %}
      {% assign rawtags = rawtags | split:'|' | sort %}

      {% assign site.tags = "" %}
      {% for tag in rawtags %}
        {% if tag != "" %}
        {% if tags == "" %}
          {% assign tags = tag | split:'|' %}
        {% endif %}
        {% unless tags contains tag %}
          {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <ul class="post-archives">
      {% for post in site.tags[page.tag] %}
        {% include post_meta.html post=post %}
      {% endfor %}
    </ul>
  {% elsif page.category and page.category != "" %}
    <h1 class="page-heading">Archive of Category '{{ page.category | escape }}'</h1>
    {% if !site.categories or site.categories == "" %}
      {% assign rawcates = "" %}
      {% for post in site.posts %}
        {% assign tcates = post.category | join:'|' | append:'|' %}
        {% assign rawcates = rawcates | append:tcates %}
      {% endfor %}
      {% assign rawcates = rawcates | split:'|' | sort %}

      {% assign site.categories = "" %}
      {% for cate in rawcates %}
        {% if cate != "" %}
        {% if categories == "" %}
          {% assign categories = cate | split:'|' %}
        {% endif %}
        {% unless categories contains cate %}
          {% assign categories = categories | join:'|' | append:'|' | append:cate | split:'|' %}
        {% endunless %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <ul class="post-archives">
      {% for post in site.categories[page.category] %}
        {% include post_meta.html post=post %}
      {% endfor %}
    </ul>
  {% endif %}

</div>
